<!--실 결재양식 내용 부분 시작 -->
   <table class="tableStyle linePlus mt10"><!-- class="table_10" -->
	   <colgroup>
	    	<col style="width:12%">
	    	<col style="width:23%">
	    	<col style="width:12%">
	    	<col style="width:23%">
	    	<col style="width:12%">
	    	<col style="width:*">
	    </colgroup>

	    	    
	    <tr>
	    	<th>구매처
			</th>
		    <td >
		   		<select name="div_purchase" data-type="mField" data-element-type="sel_d_v" style="width: 98%;"  value="{{ doc.BodyContext.div_purchase }}"  >
	    			<option value="드림디포">드림디포</option>
	    			<option value="온라인">온라인</option>
	    			<option value="오프라인">오프라인</option>
	    		</select>        
		    </td>
		    <th >입고요청일
			</th>
		    <td >
		     	<input type="text" name="supplyDate" value="{{ doc.BodyContext.supplyDate }}"  autocomplete ="off" data-pattern="date" data-type="mField" style="width: 98%;text-align:center">
		    </td>
		    	<th >주문사항
			</th>
		    <td >
		     	<select name="div_order" data-type="mField" data-element-type="sel_d_v" style="width: 98%;"  value="{{ doc.BodyContext.div_order }}"  >
	    			<option value="">선택</option>
	    			<option value="일반">일반</option>
	    			<option value="긴급">긴급</option>
	    		</select>       
		    </td>
	    </tr>
	
</table>

   <table class="tableStyle linePlus mt10"><!-- class="table_10" -->
	   <colgroup>
	    	<col style="width:12%">
	    	<col style="width:23%">
	    	<col style="width:12%">
	    	<col style="width:23%">
	    	<col style="width:12%">
	    	<col style="width:*">
	    </colgroup>
	    
	    
	    <tr>
	    	<th>구매품목명
			</th>
		    <td >
		   		<input type="text" name="purchaseName" data-type="mField" value="{{ doc.BodyContext.purchaseName }}"   style="width:98%; " >   
		    </td>
		    <th >사용자
			</th>
		    <td colspan="3">
		     	<input type="text" name="purchaseUser" data-type="mField" value="{{ doc.BodyContext.purchaseUser }}"   style="width:98%; " >   
		    </td>
	    </tr>
	     <tr>
	    	<th>구매사유
			</th>
		    <td colspan="5">
		   		<input type="text" name="purchasePurpose" data-type="mField" value="{{ doc.BodyContext.purchasePurpose }}"   style="width:98%; " >   
		    </td>
		   
	    </tr>
	    <tr>
	    	<th>구매링크
			</th>
		    <td colspan="5">
		   		<input type="text" name="Att_Link" data-type="mField" value="{{ doc.BodyContext.Att_Link }}"  onclick ="fn_click(this)"  style="width:98%; " >   
		    </td>
		   
	    </tr>
	    <tr>
	    	<th>이미지
			</th>
		    <td colspan="5">
		   		<div id="divWebEditorContainer" data-element-type="editor"></div>
		    </td>
		   
	    </tr>
	    
	
</table>





<table class="table_10 multi-row-table RowSumTable tableStyle linePlus" id="TBLINFO" style="border-left: 1px solid #c3d7df;">
    <colgroup>
   		<col style="width: 5%" data-mode="writeOnly">
		<col style="width: 5%">
		<col style="width: 10%">
		<col style="width: 10%">
		<col style="width: 10%">
		<col style="width: 22.5%">
		<col style="width: 10%">
		<col style="width: 12.5%">
		<col style="width: 15%">
    </colgroup>
    <tbody>
	    <tr class="multi-row-control" data-mode="writeOnly">
	        <td colspan="9" style="text-align: right">
	            <input type="button" id="btnAdd" value="+추가" class="multi-row-add smButton">
	            <input type="button" id="btnDelSel" value="-삭제" class="multi-row-del smButton">
	        </td>
	    </tr>
	    <tr>
	    	<th class="multi-row-selector-wrap"></th>
	        <th>No.</th>
	        <th>항목1</th>
	        <th>항목2</th>
	        <th>상품코드</th>
	        <th>품목명</th>
	        <th>수량</th>
	        <th>단가</th>
	        <th>공급가액</th>
	        
	    </tr>
	    <tr class="multi-row-template multi-sum">
			<td class="multi-row-selector-wrap" style="width: 10px; text-align: center;"><input class="multi-row-selector" type="checkbox"></td>
	        <td class="multi-row-seq"></td>
	       
	        <td>
	        	<select name="REQ_Div1"  data-type="rField" data-element-type="sel_d_t"  style="width: 98%; text-align :center;" title="구분" >
	    			<option value="0">선택</option>
	    			<option value="1">공용</option>
	    			<option value="2">연구</option>
	    			<option value="3">전략기획</option>
	    			<option value="4">생산</option>
	    			<option value="5">경영</option>
	    		</select> 
	        </td>
	        <td>
	      	   
	      	  <select name="REQ_Div2" data-type="rField"   data-element-type="sel_d_t"  style="width: 98%;  text-align :center;" title="구분" >
	    			<option value="0">선택</option>
	    			<option value="01">일반</option>
	    			<option value="02">전산</option>
	    		</select>
	    			    		
	        </td>
	        <td><input name="itemCode" style="width: 99%;" type="text" data-type="rField"></td>
	        <td><input name="itemName" style="width: 99%;" type="text" data-type="rField"></td>
	        <td><input name="qty" onblur="COST_CAL();" onkeyup="COST_CAL();" style="width: 99%;" type="text" data-type="rField" data-pattern=currency data-numeral-format="0,0"></td>
	         <td align="right">
	            <input name="REQ_PRICE" onblur="COST_CAL();" onkeyup="COST_CAL();" style="width: 99%;"   type="text" data-type="rField" data-pattern=currency data-numeral-format="0,0">
	        </td>
	        
	        <td align="right">
	            <input name="SUPPLY_PRICE"  readonly="readonly"  style="width: 99%;"   data-sum-ref="qty,REQ_PRICE" data-formula="({0}*{1})" type="text" data-type="rField" data-pattern=currency data-numeral-format="0,0">
	        </td>	        
	       
	    </tr>
	    
	    <tr>
	    	<th data-mode="writeOnly"></th>
	        <th colspan="7">합계</th>
	        <td align="right">
	            <input name="REQ_TOTAL" style="width: 99%;" type="text" readonly="readonly" value="{{ doc.BodyContext.REQ_TOTAL }}" data-type="mField" data-pattern="currency" data-numeral-format="0,0">
	        </td>
	    </tr>
	</tbody>
</table>

<!--실 결재양식 내용 부분 끝 -->
