<!--실 결재양식 내용 부분 시작 -->
   <table class="tableStyle linePlus mt10"><!-- class="table_10" -->
	   <colgroup>
	    	<col style="width:12%">
	    	<col style="width:21%">
	    	<col style="width:12%">
	    	<col style="width:21%">
	    	<col style="width:14%">
	    	<col style="width:*">
	    </colgroup>
	    
	    
	    <tr>
	    	<th>사업자번호
			</th>
		    <td >
		    	<input type="text" name="companyNo" data-type="mField" value="{{ doc.BodyContext.companyNo }}"   style="width:98%; " >           
		    </td>
		    <th rowspan="3">거래처연락처
			</th>
		    <td>       
				<input type="text"  name="custommerName" data-type="mField" value="{{ doc.BodyContext.custommerName }}"   placeholder="이름" style="width:98%; " >        
			
			</td>
		    <th >통화
			</th>
		    <td>
		    	<select name="div_money" data-type="mField" data-element-type="sel_d_v" style="width: 98%;"  value="{{ doc.BodyContext.div_money }}"  >
	    			<option value="KRW">KRW</option>
	    			<option value="USD">USD</option>
	    			<option value="JPY">JPY</option>
	    			<option value="EUR">EUR</option>
	    			<option value="CNY">CNY</option>
	    			<option value="GBP">GBP</option>
	    		</select>
		    </td>
	    </tr>
	    <tr>
	   		<th rowspan="2">거래처명
			</th>
		    <td rowspan="2">
		    	<textarea id="companyName"  rows="2" data-type="mField" style="width: 98%;" placeholder="사업자등록증 기준">{{ doc.BodyContext.companyName }}</textarea>      
		    </td>
		    <td>       
				<input type="text"  name="managerMail" data-type="mField" value="{{ doc.BodyContext.managerMail }}"   placeholder="이메일" style="width:98%; " >        
			
			</td>
			<th >입고요청일
			</th>
		    <td >
		     	<input type="text" name="supplyDate" value="{{ doc.BodyContext.supplyDate }}"  autocomplete ="off" data-pattern="date" data-type="mField" style="width: 98%;text-align:center">
		    </td>
	    </tr>
		<tr>  
		    <td>       
				<input type="text"  name="managerTel" data-type="mField" value="{{ doc.BodyContext.managerTel }}"   placeholder="연락처" style="width:98%; " >        
			
			</td>
			<th >주문사항
			</th>
		    <td >
		     	<select name="div_order" data-type="mField" data-element-type="sel_d_v" style="width: 98%;"  value="{{ doc.BodyContext.div_order }}"  >
	    			<option value="">선택</option>
	    			<option value="일반">일반</option>
	    			<option value="긴급">긴급</option>
	    		</select>       
		    </td>
	    </tr>

		
	
</table>


<table class="tableStyle linePlus mt10"><!-- class="table_10" -->
	   <colgroup>
	    	<col style="width:12%">
	    	<col style="width:21%">
	    	<col style="width:12%">
	    	<col style="width:21%">
	    	<col style="width:14%">
	    	<col style="width:*">
	    </colgroup>
	    
	    
	    <tr>
	    	<th>구매기기명
			</th>
		    <td >
		    	<input type="text" name="purchaseEquipment" data-type="mField" value="{{ doc.BodyContext.purchaseEquipment }}"   style="width:98%; " >           
		    </td>
		    <th >설치장소
			</th>
		    <td colspan="3">       
				<input type="text"  name="settingPlace" placeholder="층수+구제적 장소" data-type="mField" value="{{ doc.BodyContext.settingPlace}}"   style="width:98%; " >        
			
			</td>
		    
	    </tr>
	    
	     <tr>
	    	<th>구매목적
			</th>
		    <td colspan="5">
		    	<input type="text" name="purchasePupose" data-type="mField" value="{{ doc.BodyContext.purchasePupose }}"   style="width:98%; " >           
		    </td>
		   
	    </tr>
	    
	     <tr>
	    	<th>기대효과
			</th>
		    <td colspan="5">
		    	<input type="text" name="expectedEffect" data-type="mField" value="{{ doc.BodyContext.expectedEffect }}"  placeholder="기기 구매로 인한 창출가치 기재" style="width:98%; " >           
		    </td>
		   
	    </tr>
	    
	      <tr>
	    	
		    <th >구매사유
			</th>
		    <td>
		    	<select name="div_purchase" data-type="mField" data-element-type="sel_d_t" style="width: 98%;"  value="{{ doc.BodyContext.div_purchase }}"  >
	    			<option value="0">선택</option>
	    			<option value="1">신규기기</option>
	    			<option value="2">기기교체(고장)</option>
	    			<option value="3">기기교체(노후화)</option>
	    		</select>
		    </td>
		    <th >관련부서
			</th>
		    <td >       
				<input type="text"  name="manageDept" data-type="mField" value="{{ doc.BodyContext.manageDept }}"    style="width:98%; " >        
			
			</td>
			 <th >관리자
			</th>
		    <td >       
				<input type="text"  name="managerName" data-type="mField" value="{{ doc.BodyContext.managerName }}"    style="width:98%; " >        
			
			</td>
	    </tr>
	    
	    <tr>
	    	
		    <th >투자심의<br>위원회
			</th>
		    <td>
		    	<select name="div_Yn" data-type="mField" data-element-type="sel_d_v" style="width: 98%;"  value="{{ doc.BodyContext.div_Yn }}"  >
	    			<option value="Y">Y</option>
	    			<option value="N">N</option>
	    		</select>
		    </td>
		    <th >유지보수
			</th>
		    <td >       
				<select name="div_Yn2" data-type="mField" data-element-type="sel_d_v" style="width: 98%;"  value="{{ doc.BodyContext.div_Yn2 }}"  >
	    			<option value="Y">Y</option>
	    			<option value="N">N</option>
	    		</select>
			</td>
			 <th >유지보수예상액<br>(연간)
			</th>
		    <td >       
				<input type="text"  name="maintenanceAmt" data-type="mField" value="{{ doc.BodyContext.maintenanceAmt }}"    style="width:98%; " >        
			
			</td>
	    </tr>
   </table>


<table class="tableStyle linePlus mt10"><!-- class="table_10" -->
	<colgroup>
	       <col style="width:12%" />
	       <col style="width:88%" />
	       
		</colgroup>  
		<tr >
		<th>제목
		</th>
			<td >
				<input type="text" id="subTitle" name="subTitle" data-type="mField" value="{{ doc.BodyContext.subTitle }}"    style="width:98%; " >    
			</td>
		</tr>
		
</table>

<table class="tableStyle linePlus mt10"><!-- class="table_10" -->
	<colgroup>
	      <col style="width:12%" />
	       <col style="width:88%" />
	       
		</colgroup>  
	<tr style="height:150px;">
	<th>내용
	</th>
		<td >
			<textarea id="comment" placeholder="[작성내용] &#13;&#10;1. 구매물품 &#13;&#10;2. 사용처/필요사유 &#13;&#10;3. 현보유량 / 추가구매수량 / 예상사용기간 &#13;&#10;4. 특이사항 등"  rows="10" data-type="mField" style="width: 98%;height:98%;">{{ doc.BodyContext.comment }}</textarea>
		</td>
	</tr>
	
</table>


<table class="table_10 multi-row-table RowSumTable tableStyle linePlus" id="TBLINFO" style="border-left: 1px solid #c3d7df;">
    <colgroup>
   		<col style="width: 5%" data-mode="writeOnly">
		<col style="width: 5%">
		<col style="width: 10%">
		<col style="width: 10%">
		<col style="width: 10%">
		<col style="width: 10%">
		<col style="width: 10%">
		<col style="width: 10%">
		<col style="width: 5%">
		<col style="width: 5%">
        <col style="width: 10%">
        <col style="width: 10%">
    </colgroup>
    <tbody>
	    <tr class="multi-row-control" data-mode="writeOnly">
	        <td colspan="12" style="text-align: right">
	            <input type="button" id="btnAdd" value="+추가" class="multi-row-add smButton">
	            <input type="button" id="btnDelSel" value="-삭제" class="multi-row-del smButton">
	        </td>
	    </tr>
	    <tr>
	    	<th class="multi-row-selector-wrap"></th>
	        <th>No.</th>
	        <th>항목1</th>
	        <th>항목2</th>
	        <th>파이프라인</th>
	        <th>품목명</th>
	        <th>제조사</th>
	        <th>CAT#</th>
	        <th>단위</th>
	        <th>수량</th>
	        <th>단가</th>
	        <th>공급가액</th>
	        
	    </tr>
	  <tr class="multi-row-template multi-sum">
			<td class="multi-row-selector-wrap" style="width: 10px; text-align: center;"><input class="multi-row-selector" type="checkbox"></td>
	        <td class="multi-row-seq"></td>
	        <td>
	        	<select name="REQ_Div1"  data-type="rField" data-element-type="sel_d_t"  style="width: 98%; text-align :center;" title="구분" >
	    			<option value="0">선택</option>
	    			<option value="1">연구기기</option>
	    		</select> 
	        </td>
	        <td>
	      	   
	      	  <select name="REQ_Div2"   data-type="rField" data-element-type="sel_d_t"  style="width: 98%;  text-align :center;" title="구분" >
	    			<option value="0">선택</option>
	    			<option value="01">시설장치</option>
	    			<option value="02">분석기기</option>
	    			<option value="03">배양기기</option>
	    			<option value="04">보관기기</option>
	    			<option value="05">기타기기</option>	    			
	    		</select>
	        </td>
	        <td>
	        	<input name="PipeLine" style="width: 99%;" type="text" data-type="rField">
	        </td>
	        <td><input name="REQ_ITMENAME" style="width: 99%;" type="text" data-type="rField"></td>
	        <td><input name="CAT" style="width: 99%;" type="text" data-type="rField"></td>
	        <td><input name="createCompany" style="width: 99%;" type="text" data-type="rField"></td>
	        <td><input name="unit" style="width: 99%;" type="text" data-type="rField" ></td>
	        <td><input name="qty" onblur="COST_CAL();" onkeyup="COST_CAL();" style="width: 99%;" type="text" data-type="rField" data-pattern=currency data-numeral-format="0,0"></td>
	         <td align="right">
	            <input name="REQ_PRICE" onblur="COST_CAL();" onkeyup="COST_CAL();" style="width: 99%;"   type="text" data-type="rField" data-pattern=currency data-numeral-format="0,0">
	        </td>
	        
	        <td align="right">
	            <input name="SUPPLY_PRICE"  readonly="readonly"  style="width: 99%;"   data-sum-ref="qty,REQ_PRICE" data-formula="({0}*{1})" type="text" data-type="rField" data-pattern=currency data-numeral-format="0,0">
	        </td>	        
	       
	    </tr>
	    <tr>
	    	<th data-mode="writeOnly"></th>
	        <th colspan="10">부가세</th>
	         <td align="right">
	            <input name="REQ_VAT" style="width: 99%;" type="text" value="{{ doc.BodyContext.REQ_VAT }}" data-type="mField" data-pattern="currency" data-numeral-format="0,0" onblur="COST_CAL();" onkeyup="COST_CAL();">
	        </td>
	    </tr>
	    <tr>
	    	<th data-mode="writeOnly"></th>
	        <th colspan="10">합계</th>
	        <td align="right">
	            <input name="REQ_TOTAL" style="width: 99%;" type="text" readonly="readonly" value="{{ doc.BodyContext.REQ_TOTAL }}" data-type="mField" data-pattern="currency" data-numeral-format="0,0">
	        </td>
	    </tr>
	</tbody>
</table>

<!--실 결재양식 내용 부분 끝 -->
