
<!--실 결재양식 내용 부분 시작 -->
<table class="tableStyle linePlus mt10"><!-- class="table_10" -->


		<colgroup>
			<col style="width:12%" />
	       <col style="width:38%" />
	       <col style="width:12%" />
	       <col style="width:38%" />
		</colgroup>  
		
			 
		<tr>
			
			<th >의뢰일</th>
			<td  >
				<input type="text"  autocomplete ="off" placeholder=" 20    년   월   일" data-pattern="date" data-date-format="yy년 mm월 dd일" data-type="mField"   name="reqDate"  value="{{ doc.BodyContext.reqDate }}" style="width:98% ; " >	
			
			</td>
			<th >의뢰자</th>
			<td  >
				<input type="text" name="reqUser" data-type="mField" value="{{ doc.BodyContext.reqUser }}"    style="width:98%; " >
			</td>
		</tr>
		
		<tr>
			<th >부서명</th>
			<td  >
				<input type="text" name="reqDept" data-type="mField" value="{{ doc.BodyContext.reqDept }}"    style="width:98%; " >
			</td>
			<th >요청자 연락처</th>
			<td  >
				<input type="text" name="reqPhoneNo" data-type="mField" value="{{ doc.BodyContext.reqPhoneNo }}"    style="width:98%; " >
			</td>
		</tr>
		<tr>
			<th rowspan ="2">프로그램명
			</th>
			<td>
				<input type="text" name="programName1" data-type="mField" value="{{ doc.BodyContext.programName1 }}"    style="width:98%; " >
			</td>
			<th rowspan ="2">프로그램 메뉴
			</th>
			<td>
				<input type="text" name="programMenu1" data-type="mField" value="{{ doc.BodyContext.programMenu1 }}"    style="width:98%; " >
			</td>
		</tr>
		<tr>
			
			<td>
				<textarea data-type="mField" name="programName2" style="width:99%" placeholder="예)처방관리 (OCS상 무슨 프로그램인지 명시)"  rows="2" >{{ doc.BodyContext.programName2 }}</textarea>
			</td>
			<td>
				<textarea data-type="mField" name="programMenu2" style="width:99%" placeholder="예)처방관리 ->기본기능 ->진단서  &#13;&#10; (프로그램 안에 어떤 부분인지)"  rows="2" >{{ doc.BodyContext.programMenu2 }}</textarea>
			</td>
		</tr>
		<tr>
			<th >작업명
			</th>
			<td colspan ="3">
				<input type="text" name="taskName" data-type="mField" value="{{ doc.BodyContext.taskName }}"  style="width:98%; " >
			</td>
		</tr>
		
		<tr>
			<th >의뢰내용<br>(상세히<br>적어주세요)
			</th>
			<td colspan ="3">
				<div style="width:99% ;height : 180px">
					<textarea data-type="mField" name="reqCommnet" style="width:99%" rows="10" >{{ doc.BodyContext.reqCommnet }}</textarea>
				</div>
			</td>
		</tr>			
</table>

<table class="tableStyle linePlus "><!-- class="table_10" -->


		<colgroup>
			<col style="width:12%" />
			<col style="width:12%" />
			<col style="width:32%" />
			<col style="width:12%" />
			<col style="width:32%" />
		</colgroup>  
		
				 
		<tr>
			<th rowspan ="3">처리부서</th>
			<th >접수일자</th>
			<td  >
				<input type="text" placeholder=" 20    년   월   일"  autocomplete ="off" data-pattern="date" data-date-format="yy년 mm월 dd일" data-type="mField"   name="receiveDate"  value="{{ doc.BodyContext.receiveDate }}" style="width:98% ; " >
			
			</td>
			<th >접수자</th>
			<td  >
				<input type="text" name="receiveUser" data-type="mField" value="{{ doc.BodyContext.receiveUser }}"    style="width:88%; " >(인)
			</td>
		</tr>
		
		<tr>
			
			<th >처리예정기간</th>
			<td  >
				<input type="text"  placeholder=" 20    년   월   일"  autocomplete ="off" data-pattern="date" data-date-format="yy년 mm월 dd일" data-type="mField"   name="receiveStartDate"  value="{{ doc.BodyContext.receiveStartDate }}" style="width:98% ; " >			
			</td>
			<th >완료일자</th>
			<td  >
				<input type="text"  placeholder=" 20    년   월   일"  autocomplete ="off" data-pattern="date" data-date-format="yy년 mm월 dd일" data-type="mField"   name="receiveEndDate"  value="{{ doc.BodyContext.receiveEndDate }}" style="width:98% ; " >	
			</td>
		</tr>
		<tr>
			
			<th >처리결과<br> 및 의견</th>
			<td colspan="3" >
				<div style="width:99% ;height : 60px">
					<textarea data-type="mField" name="resultRmk" style="width:99%" rows="3" >{{ doc.BodyContext.resultRmk }}</textarea>
				</div>
			</td>
		</tr>
</table>




<!--실 결재양식 내용 부분 끝 -->
