
<!--실 결재양식 내용 부분 시작 -->
<table class="tableStyle linePlus mt10"><!-- class="table_10" -->


		<colgroup>
			<col style="width:12%" />
	       <col style="width:38%" />
	       <col style="width:12%" />
	       <col style="width:38%" />
		</colgroup>  
		
			 
		<tr>
			<th >부서명</th>
			<td  >
				<input type="text" name="reqDept" data-type="mField" value="{{ doc.BodyContext.reqDept }}"    style="width:98%; " >
			</td>
			<th >의뢰일</th>
			<td  >
				<input type="text"  autocomplete ="off" data-pattern="date" data-date-format="yy년 mm월 dd일" data-type="mField"   name="reqDate"  value="{{ doc.BodyContext.reqDate }}" style="width:98% ; " >	
			
			</td>
		</tr>
		
			 
		<tr>
			<th >납품업체</th>
			<td colspan="3" >
				<input type="text" name="supplyCompany" data-type="mField" value="{{ doc.BodyContext.supplyCompany }}"    style="width:98%; " >
			</td>
		</tr>
		<tr>
			<th >모델명</th>
			<td colspan="3" >
				<input type="text" name="modelName" data-type="mField" value="{{ doc.BodyContext.modelName }}"    style="width:98%; " >
			</td>
		</tr>
		<tr>
			<th >장비명</th>
			<td colspan="3" >
				<input type="text" name="itemName" data-type="mField" value="{{ doc.BodyContext.itemName }}"    style="width:98%; " >
			</td>
		</tr>
		<tr>
			<th >관리번호</th>
			<td colspan="3" >
				<input type="text" name="manageNo" data-type="mField" value="{{ doc.BodyContext.manageNo }}"    style="width:98%; " >
			</td>
		</tr>
		<tr>
			<th >수리사유</th>
			<td colspan="3" >
				<textarea data-type="mField" name="useCommnet" style="width:99%" rows="10" >{{ doc.BodyContext.useCommnet }}</textarea>
			</td>
		</tr>
		
</table>
<table class="tableStyle linePlus "><!-- class="table_10" -->


		<colgroup>
			<col style="width:12%" />
	       <col style="width:14%" />
	       <col style="width:30%" />
	       <col style="width:14%" />
	       <col style="width:30%" />
		</colgroup>  
		
		<tr>
			<th rowspan="2"></th>
			
			<td  align ="left" colspan="4"  style =" border-bottom: none;">
				위와 같이 수리를 의뢰합니다.    
			</td>
		</tr>
		<tr>
			
			<td  align ="right" colspan="4" style =" border-top: none;">
				부서장 : <input type="text" name="chiefName" data-type="mField" value="{{ doc.BodyContext.chiefName }}"    style="width:30%; " >(서명)
			</td>
		</tr>
</table>

<!--실 결재양식 내용 부분 끝 -->
