
<!--실 결재양식 내용 부분 시작 -->
<table class="tableStyle linePlus mt10"><!-- class="table_10" -->


		<colgroup>
			<col style="width:20%" />
	       <col style="width:80%" />
		</colgroup>  
		
		<tr>
			<th >요청일</th>
			<td  >
				<input type="text"  autocomplete ="off" data-pattern="date" data-date-format="yy년 mm월 dd일" data-type="mField"   name="reqDate"  value="{{ doc.BodyContext.reqDate }}" style="width:98% ; " >	
			
			</td>
			
		</tr>	 
		<tr>
			<th >요청부서</th>
			<td  >
				<input type="text" name="reqDept" data-type="mField" value="{{ doc.BodyContext.reqDept }}"    style="width:98%; " >
			</td>
			
		</tr>
		<tr>
			<th >요청자/원내연락처</th>
			<td  >
				<input type="text" name="reqUser" data-type="mField" value="{{ doc.BodyContext.reqUser }}"    style="width:98%; " >
			</td>
			
		</tr>
		
		<tr>
			<th >구분</th>
			<td  >
			  <div data-type="mField" data-element-type="chk_d" data-node-name="chkBox_0">
					&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" id ="chkBox_01" name="chkBox_0"  value="chkBox_01">신규생성
					&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" id ="chkBox_02" name="chkBox_0"  value="chkBox_02">기존서식 수정
				</div>
			</td>
		</tr>
		<tr>
			<th colspan="2">신규요청
			</th>
		</tr>
		<tr>
			<th >구분
			</th>
			<td  >
			  <div data-type="mField" data-element-type="chk_d" data-node-name="chkBox_1">
					&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" id ="chkBox_11" name="chkBox_1"  value="chkBox_11">EMR 서식
					&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" id ="chkBox_12" name="chkBox_1"  value="chkBox_12">스캔 서식
				</div>
			</td>
		</tr>
		
		<tr>
			<th >서식명
			</th>
			<td  >
			  <input type="text" name="formName1" data-type="mField" value="{{ doc.BodyContext.formName1 }}"    style="width:98%; " >
			</td>
		</tr>
		
		<tr>
			<th >서식종류
			</th>
			<td  >
			   <div data-type="mField" data-element-type="chk_d" data-node-name="chkBox_2">
					&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" id ="chkBox_21" name="chkBox_2"  value="chkBox_21">초진
					&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" id ="chkBox_22" name="chkBox_2"  value="chkBox_22">재진
					&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" id ="chkBox_23" name="chkBox_2"  value="chkBox_23">평가척도
					&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" id ="chkBox_24" name="chkBox_2"  value="chkBox_24">치료/검사기록
					&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" id ="chkBox_25" name="chkBox_2"  value="chkBox_25">동의서
					&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" id ="chkBox_26" name="chkBox_2"  value="chkBox_26">기타
				</div>
			</td>
		</tr>
		
		<tr>
			<th >사용구분
			</th>
			<td  >
			  <div data-type="mField" data-element-type="chk_d" data-node-name="chkBox_3">
					&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" id ="chkBox_31" name="chkBox_3"  value="chkBox_31">공통
					&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" id ="chkBox_32" name="chkBox_3"  value="chkBox_32">입원
					&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" id ="chkBox_33" name="chkBox_3"  value="chkBox_33">외래
					&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" id ="chkBox_34" name="chkBox_3"  value="chkBox_34">응급
				</div>
			</td>
		</tr>
		<tr>
			<th >기타요청사항
			</th>
			<td >
				<div style="width:99% ;height : 180px">
					<textarea data-type="mField" name="reqEtcComment" placeholder="기타 요청사항&#x0a;&#x0a;&#x0a;&#x0a;&#x0a;&#x0a;&#x0a;&#x0a;* 신규생성의 경우 요청 서식의 내용을 파일로 첨부하여 전송해주시고, 출력도 함께 부탁드립니다. " id ="reqEtcComment" style="width:99%" rows="10" >{{ doc.BodyContext.reqEtcComment }}</textarea>
				</div>
			</td>
		</tr>
		<tr>
			<th colspan="2">수정요청
			</th>
		</tr>
		<tr>
			<th >구분</th>
			<td  >
			  <div data-type="mField" data-element-type="chk_d" data-node-name="chkBox_4">
					&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" id ="chkBox_41" name="chkBox_4"  value="chkBox_41">EMR 서식
					&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" id ="chkBox_42" name="chkBox_4"  value="chkBox_42">스캔 서식
				</div>
			</td>
		</tr>
			<tr>
			<th >서식명
			</th>
			<td  >
			  <input type="text" name="formName2" data-type="mField" value="{{ doc.BodyContext.formName2 }}"    style="width:98%; " >
			</td>
		</tr>
			<tr>
			<th >수정사유
			</th>
			<td  >
			  <input type="text" name="reqReason" data-type="mField" value="{{ doc.BodyContext.reqReason }}"    style="width:98%; " >
			</td>
		</tr>
			<tr>
			<th >수정내용
			</th>
			<td  >
			  <input type="text" name="reqComment" data-type="mField" value="{{ doc.BodyContext.reqComment }}"    style="width:98%; " >
			</td>
		</tr>
		<tr>
			<th colspan="2">유의사항
			</th>
		</tr>
		<tr>
			<td colspan="2">
				* 여러 부서가 사용하는 서식일 경우, 사전 협의 여부를 반드시 확인하셔야 합니다.<br>
				* 되도록 한글파일로 작업해주세요.<br>
				* 신규 또는 수정 된 서식의 사용일자는 의료정보실 및 전산과의 협의가 함께 필요합니다.<br>
			</td>
		</tr>
		
</table>


<table class="tableStyle linePlus mt10"><!-- class="table_10" -->
    <colgroup>
        
        <col style="width:70%" />
        <col style="width:30%" />
    </colgroup>
 
    <tr>
     	<td style =" border: none; ">
     	</td>
     	<td style =" border: none; ">
	     	신청부서 : <input type="text" name="userDept" data-type="mField" value="{{ doc.BodyContext.userDept }}"    style="width:60%; " >     	
     	</td>
    </tr>
    <tr>
     	<td style =" border: none; ">
     	</td>
     	<td style =" border: none; ">
     		신청인   : <input type="text" name="userName" data-type="mField" value="{{ doc.BodyContext.userName }}"    style="width:60%; " >(서명)     	
     	</td>
    </tr>
    <tr>
     	<td style =" border: none; ">
     	</td>
     	<td style =" border: none; ">
     		부서장   : <input type="text" name="userCheif" data-type="mField" value="{{ doc.BodyContext.userCheif }}"    style="width:60%; " >(서명)     	
     	</td>
    </tr>
  
    
</table>