<!--실 결재양식 내용 부분 시작 -->
<br style=""><span style="font-size:14px"><strong>작성구분</strong></span><br style="">
<table class="tableStyle linePlus mt10"><!-- class="table_10" -->


		<colgroup>
			<col style="width:17%">
	       <col style="width:16%">
	       <col style="width:14%">
	       <col style="width:14%">
	       <col style="width:20%">
	       <col style="width:16%">
		</colgroup>  
		
		
	    <tbody><tr>
    		<th>진행방식</th>
			<td>
				<div data-type="mField" data-element-type="chk_d" data-node-name="divType1">
	    			<input type="checkbox" id="div11" name="divType1" value="일반">일반 
	    		</div>
			</td>
			<td>
				<div data-type="mField" data-element-type="chk_d" data-node-name="divType1">
	    			<input type="checkbox" id="div21" name="divType1" value="긴급 ">긴급  
	    		</div>
			</td>
			<td>	
			</td>
			<td>	
			</td>
			<td>	
			</td>
			
		
	    </tr>
	    
	    <tr>
    		<th>업무분류</th>
			<td>
				<div data-type="mField" data-element-type="chk_d" data-node-name="divType2">
	    			<input type="checkbox" id="div21" name="divType2" value="자문">자문 
	    		</div>
			</td>
			
			<td>
			<div data-type="mField" data-element-type="chk_d" data-node-name="divType2">
	    			 
	    			<input type="checkbox" id="div22" name="divType2" value="유지보수">유지보수 
	    		</div>
			</td>
			<td>
			<div data-type="mField" data-element-type="chk_d" data-node-name="divType2"> 
	    			<input type="checkbox" id="div23" name="divType2" value="정보제공">정보제공  
	    		</div>
			</td>
			<td>
			<div data-type="mField" data-element-type="chk_d" data-node-name="divType2">
	    			<input type="checkbox" id="div24" name="divType2" value="사업관리">사업관리 
	    		</div>
			</td>
			<td>
			<div data-type="mField" data-element-type="chk_d" data-node-name="divType2">
	    			
	    			<input type="checkbox" id="div25" name="divType2" value="기타">기타
	    		</div>
			</td>
		
	    </tr>
	    
	     <tr>
    		<th>선정방식</th>
    		
			<td>
			<div data-type="mField" data-element-type="chk_d" data-node-name="divType3">
	    			<input type="checkbox" id="div31" name="divType3" value="공개입찰">공개입찰 
	    		</div>
			</td>
			<td colspan="2">
			<div data-type="mField" data-element-type="chk_d" data-node-name="divType3">
	    			<input type="checkbox" id="div32" name="divType3" value="지명입찰">지명입찰 
	    		</div>
			</td>
			<td>
			<div data-type="mField" data-element-type="chk_d" data-node-name="divType3"> 
	    			<input type="checkbox" id="div33" name="divType3" value="수의계약">수의계약 
	    		</div>
			</td>
			<td>
			<div data-type="mField" data-element-type="chk_d" data-node-name="divType3">
	    			<input type="checkbox" id="div34" name="divType3" value="기타">기타  
	    		</div>
			</td>
	    </tr>
	    
		<tr>
    		<th>낙찰자 선정방식</th>
    		
			<td>
			<div data-type="mField" data-element-type="chk_d" data-node-name="divType4">
	    			<input type="checkbox" id="div41" name="divType4" value="최저가">최저가 
	    		</div>
			</td>
			<td colspan="2">
			<div data-type="mField" data-element-type="chk_d" data-node-name="divType4">
	    			<input type="checkbox" id="div42" name="divType4" value="적격심사 낙찰제 ">적격심사 낙찰제 
	    		</div>
			</td>
			<td>
			<div data-type="mField" data-element-type="chk_d" data-node-name="divType4"> 
	    			<input type="checkbox" id="div43" name="divType4" value="협상에 의한 계약">협상에 의한 계약 
	    		</div>
			</td>
			<td>
			<div data-type="mField" data-element-type="chk_d" data-node-name="divType4">
	    			<input type="checkbox" id="div44" name="divType4" value="기타">기타  
	    		</div>
			</td>
	    </tr>
	    
		
</tbody></table>
<br style=""><span style="font-size:14px"><strong>요청사항</strong></span><br style="">
<table class="tableStyle linePlus mt10"><!-- class="table_10" -->


		<colgroup>
			<col style="width:17%">
	       <col style="width:16%">
	       <col style="width:16%">
	       <col style="width:16%">
	       <col style="width:16%">
	       <col style="width:16%">
		</colgroup>  
		
		 <tbody><tr>
	    	<th>요청부서</th>
			<td>
				<input type="text" id="reqDept" name="reqDept" data-type="mField" value="{{ doc.BodyContext.reqDept }}" style="width:98%; ">
	           
			</td>
			<th>담당자</th>
			<td>
				<input type="text" id="managerName1" name="managerName1" data-type="mField" value="{{ doc.BodyContext.managerName1 }}" style="width:98%; ">
	           
			</td>
			<th>요청일자</th>
			<td>
				<input type="text" data-type="mField" id="reqDate" value="{{ doc.BodyContext.reqDate }}" style="width:90%;" data-pattern="date">
			</td>
	    </tr>
	    <tr>
	   		 <th>용역명</th>
			<td colspan="5">
				<input type="text" id="itemName1" name="itemName1" data-type="mField" value="{{ doc.BodyContext.itemName1 }}" style="width:98%; ">
	           
			</td>
	    	
		</tr>
		 <tr>
	   		 <th>과업내용</th>
			<td colspan="5">
				<input type="text" id="usePurpose" name="usePurpose" data-type="mField" value="{{ doc.BodyContext.usePurpose }}" style="width:98%; ">
	           
			</td>
	    	
		</tr>
		
		
		
		<tr>
	    	<th>사업예산</th>
			<td colspan="2">
				<input type="text" id="budget" name="budget" data-type="mField" value="{{ doc.BodyContext.budget }}" data-pattern="numeral" style="width:98%; ">
	           
			</td>
			<th>용역기간
			</th>
			<td colspan="2">
				<input type="text" data-type="mField" id="startDay" title="시작일" name="startDay" value="{{ doc.BodyContext.startDay }}" size="10" style="width : 43%" data-pattern="date" onchange="calSDATEEDATE('this');">~
				<input type="text" data-type="mField" id="closeDay" title="종료일" name="closeDay" value="{{ doc.BodyContext.closeDay }}" size="10" style="width : 43%" data-pattern="date" onchange="calSDATEEDATE('this');">
			</td>
			
		</tr>
		
		<tr>
	    	<th>계정명</th>
			<td colspan="2">
				<input type="text" id="accName" name="accName" data-type="mField" value="{{ doc.BodyContext.accName }}" style="width:98%; ">
	           
			</td>
			<th>처리완료일<br>(예정)</th>
			<td colspan="2">
				<input type="text" data-type="mField" id="supplyDate" value="{{ doc.BodyContext.supplyDate }}" style="width:90%;" data-pattern="date">
			</td>			
		</tr>
		<tr>
			<th rowspan="2">
			유사용역 수행 실적
			</th>
			<td colspan="3">
			<input type="text" id="result1" name="result1" data-type="mField" value="{{ doc.BodyContext.result1 }}" style="width:98%; ">
			</td>
			<td colspan="2">
			<input type="text" id="result2" name="result2" data-type="mField" value="{{ doc.BodyContext.result2 }}" style="width:98%; ">
			</td>
		</tr>
		<tr>
			<td colspan="3">
			<input type="text" id="result3" name="result3" data-type="mField" value="{{ doc.BodyContext.result3 }}" style="width:98%; ">
			</td>
			<td colspan="2">
			<input type="text" id="result4" name="result4" data-type="mField" value="{{ doc.BodyContext.result4 }}" style="width:98%; ">
			</td>
		</tr>
		
</tbody></table>

<br style=""><span style="font-size:14px"><strong>입찰내용</strong></span><br style="">
<table class="tableStyle linePlus mt10"><!-- class="table_10" -->


		<colgroup>
			<col style="width:17%">
	       <col style="width:32%">
	       <col style="width:16%">
	       <col style="width:32%">
		</colgroup>  
		
		 <tbody>
		 <tr>
	    	<th>참여업체</th>
			<td >
				<input type="text" id="joinCompany" name="joinCompany" data-type="mField" value="{{ doc.BodyContext.joinCompany }}" style="width:98%; ">
	           
			</td>
			
			<th rowspan="4">추진일정</th>
			<td >
				<input type="text" id="progressResult1" name="progressResult1" data-type="mField" value="{{ doc.BodyContext.progressResult1 }}" style="width:98%; ">
			</td>
	    </tr>
	    
	     <tr>
	    	<th >최우선 선정요소</th>
			<td  >
				<input type="text" id="bestChoice" name="bestChoice" data-type="mField" value="{{ doc.BodyContext.bestChoice }}" style="width:98%; ">
	           
			</td>
			<td  >
				<input type="text" id="progressResult2" name="progressResult2" data-type="mField" value="{{ doc.BodyContext.progressResult2 }}" style="width:98%; ">
	           
			</td>
	    </tr>
	    <tr>
	    	<th rowspan="2">평가방법</th>
			<td rowspan="2" >
				<input type="text" id="evaluate" name="evaluate" data-type="mField" value="{{ doc.BodyContext.evaluate }}" style="width:98%; ">
	           
			</td>
			<td  >
				<input type="text" id="progressResult3" name="progressResult3" data-type="mField" value="{{ doc.BodyContext.progressResult3 }}" style="width:98%; ">
	           
			</td>
			
	    </tr>
	   
	    <tr>
	    	<td  >
				<input type="text" id="progressResult4" name="progressResult4" data-type="mField" value="{{ doc.BodyContext.progressResult4 }}" style="width:98%; ">
	           
			</td>
	    </tr>
	    
</tbody></table>

<br style=""><span style="font-size:14px"><strong>협의사항</strong></span><br style="">
<table class="tableStyle linePlus mt10"><!-- class="table_10" -->
	<tbody><tr>
		<td>
			<textarea id="comment" rows="3" data-type="mField" style="width: 98%;height:98%;">{{ doc.BodyContext.comment }}</textarea>
		</td>
	</tr>
	
</tbody></table>

<br style=""><span style="font-size:14px"><strong>결정사항</strong></span><br style="">
<table class="tableStyle linePlus mt10"><!-- class="table_10" -->

	<colgroup>
			<col style="width:15%">
	       <col style="width:35%">
	       <col style="width:13%">
	       <col style="width:37%">
		</colgroup>  
		
	<tbody><tr>
		<th>수행업체
		</th>
		<td>
			<input type="text" id="implementCompany" name="implementCompany" data-type="mField" value="{{ doc.BodyContext.implementCompany }}" style="width:98%; ">
		
		</td>
		<th>용역기간
		</th>
		<td>
			<input type="text" data-type="mField" id="serviceStartDay" title="시작일" name="serviceStartDay" value="{{ doc.BodyContext.serviceStartDay }}" size="10" style="width : 45%" data-pattern="date" onchange="calSerSDATEEDATE('this');">~
			<input type="text" data-type="mField" id="serviceCloseDay" title="종료일" name="serviceCloseDay" value="{{ doc.BodyContext.serviceCloseDay }}" size="10" style="width : 45%" data-pattern="date" onchange="calSerSDATEEDATE('this');">
		</td>
     	
	</tr>
	<tr>
		<th>지급(예정)금액<br>(부가가치세포함)
		</th>
		<td>
			<input type="text" id="totalAmt" data-pattern="numeral" name="totalAmt" data-type="mField" value="{{ doc.BodyContext.totalAmt }}" style="width:98%; ">
		
		</td>
		<th>평가유무
		</th>
		<td>
			<input type="text" id="evaluateYn" name="evaluateYn" data-type="mField" value="{{ doc.BodyContext.evaluateYn }}" style="width:98%; ">
		
		</td>
     	
	</tr>
	<tr>
		<th>주요내용
		</th>
		<td colspan="3">
			<div id="divWebEditorContainer" data-element-type="editor"></div>
		</td>
		
     	
	</tr>
	
</tbody></table>


<br style=""><span style="font-size:14px"><strong>특이사항</strong></span><br style="">
<table class="tableStyle linePlus mt10"><!-- class="table_10" -->
	<tbody><tr>
		<td>
			<textarea id="etcComment" rows="3" data-type="mField" style="width: 98%;height:98%;">{{ doc.BodyContext.etcComment }}</textarea>
		</td>
	</tr>
	
</tbody></table>

<!--실 결재양식 내용 부분 끝 -->