
<!--실 결재양식 내용 부분 시작 -->
<table class="multi-row-table tableStyle linePlus mt10" id="sumTable"><!-- class="table_10" -->
    <colgroup>
        <col style="width:12%" />
        <col style="width:10%" />
        <col style="width:12%" />
        <col style="width:12%" />
        <col style="width:12%" />
        <col style="width:12%" />
    </colgroup>
    <tr>
    	<th>목 적</th>
    	<td colspan="5">
    		<input type="text" name="purpose" data-type="mField" value="{{ doc.BodyContext.purpose }}"  style="width:98%;" >
    	</td>
    </tr>
    <tr>
    	<th>구 분</th>
    	<td colspan="5">
    		<div data-type="mField" data-element-type="rdo_d" data-node-name="reqType">
    			<input type="radio" name="reqType" value="01"  checked="checked"  />&nbsp;시스템&nbsp;&nbsp;
    			<input type="radio" name="reqType" value="02" />&nbsp;네트워크&nbsp;&nbsp;
    			<input type="radio" name="reqType" value="03" />&nbsp;보안&nbsp;&nbsp;
    			<input type="radio" name="reqType" value="04" />&nbsp;소프트웨어&nbsp;&nbsp;
    			<input type="radio" name="reqType" value="05" />&nbsp;기반시설
    		</div>
    	</td>
    </tr>
    <tr>
    	<th>대상장비</th>
    	<td colspan="5">
    		<input type="text" name="targetEq" data-type="mField" value="{{ doc.BodyContext.targetEq }}"  style="width:98%;" >
    	</td>
    </tr>
    <tr>
    	<th>중요도</th>
    	<td colspan="2">
    		<div data-type="mField" data-element-type="rdo_d" data-node-name="importance">
    			<input type="radio" name="importance" value="01"  checked="checked"  />&nbsp;최고&nbsp;&nbsp;
    			<input type="radio" name="importance" value="02" />&nbsp;높음&nbsp;&nbsp;
    			<input type="radio" name="importance" value="03" />&nbsp;보통&nbsp;&nbsp;
    			<input type="radio" name="importance" value="04" />&nbsp;낮음
    		</div>
    	</td>
    	<th>영향도</th>
    	<td colspan="2">
    		<div data-type="mField" data-element-type="rdo_d" data-node-name="influence">
    			<input type="radio" name="influence" value="01"  checked="checked"  />&nbsp;실질&nbsp;&nbsp;
    			<input type="radio" name="influence" value="02" />&nbsp;중요&nbsp;&nbsp;
    			<input type="radio" name="influence" value="03" />&nbsp;일반
    		</div>
    	</td>
    </tr>
    <tr>
    	<th>변경예정시작</th>
    	<td colspan="2" align="center">
    		<input type="text" data-type="mField" data-pattern="date" data-date-format="yy-mm-dd" name="changeStDt" value="{{ doc.BodyContext.changeStDt }}"  style="width:98%; text-align: center;">
    	</td>
    	<th>변경예정종료</th>
    	<td colspan="2" align="center">
    		<input type="text" data-type="mField" data-pattern="date" data-date-format="yy-mm-dd" name="changeEdDt" value="{{ doc.BodyContext.changeEdDt }}"  style="width:98%; text-align: center;">
    	</td>
    </tr>
    <tr>
    	<th>서비스중단</th>
    	<td align="center">없음</td>
    	<th>중단시작</th>
    	<td>
    		<input type="text" name="stopSt" data-type="mField" value="{{ doc.BodyContext.stopSt }}"  style="width:98%;" >
    	</td>
    	<th>중단종료</th>
    	<td>
    		<input type="text" name="stopEd" data-type="mField" value="{{ doc.BodyContext.stopEd }}"  style="width:98%;" >
    	</td>
    </tr>
    <tr>
    	<th>작업자</th>
    	<td colspan="5">
    		<input type="text" name="workMen" data-type="mField" value="{{ doc.BodyContext.workMen }}"  style="width:99%;" >
    	</td>
    </tr>
    <tr>
    	<th colspan="6">CAB회의 참석자 및 결과</th>
    </tr>
    <tr>
    	<th>일시</th>
    	<td colspan="5">
    		<input type="text" name="confDt" data-type="mField" value="{{ doc.BodyContext.confDt }}"  style="width:99%;" >
    	</td>
    </tr>
    <tr>
    	<th>참석자</th>
    	<td colspan="5">
    		<input type="text" name="joinMen" data-type="mField" value="{{ doc.BodyContext.joinMen }}"  style="width:99%;" >
    	</td>
    </tr>
    <tr>
    	<th>결과</th>
    	<td colspan="5">
    		<textarea name="result" id="result" rows="8" data-type="mField" style="width: 99%;">{{ doc.BodyContext.result }}</textarea>
    	</td>
    </tr>
    <tr>
    	<th colspan="6">사전준비 및 시험계획</th>
    </tr>
    <tr>
    	<td colspan="6">
    		<textarea name="plan" rows="5" data-type="mField" style="width: 99%;">{{ doc.BodyContext.plan }}</textarea>
    	</td>
    </tr>
    <tr>
    	<th colspan="6">세 부 작 업 계 획(시간대별 작업내용 기재)</th>
    </tr>
    <tr class="multi-row-control" data-mode="writeOnly">
    	<td colspan="6" align="right">
    		<input type="button" id="btnAdd" value="+추가" class="multi-row-add smButton">
			<input type="button" id="btnDelSel" value="-삭제" class="multi-row-del-auto smButton">
    	</td>
    </tr>
    <tr class="multi-row-template">
    	<td colspan="6">
    		<textarea name="etc" data-type="rField" style="width: 99%;" placeholder="00:00 ~ 00:00"></textarea>
    	</td>
    </tr>
    <tr>
    	<th colspan="6">실패시 원복방안</th>
    </tr>
    <tr>
    	<td colspan="6">
    		<textarea name="recover" rows="5" data-type="mField" style="width: 99%;">{{ doc.BodyContext.recover }}</textarea>
    	</td>
    </tr>
    <tr>
    	<th colspan="6">향후 예정사항</th>
    </tr>
    <tr>
    	<td colspan="6">
    		<textarea name="after" rows="5" data-type="mField" style="width: 99%;">{{ doc.BodyContext.after }}</textarea>
    	</td>
    </tr>
</table>
<!--실 결재양식 내용 부분 끝 -->
