
<!--실 결재양식 내용 부분 시작 -->
<br style=""><span style="font-size:14px"><strong>작성구분</strong></span><br style="">
<table class="tableStyle linePlus mt10"><!-- class="table_10" -->


		<colgroup>
			<col style="width:17%" />
	       <col style="width:16%" />
	       <col style="width:14%" />
	       <col style="width:14%" />
	       <col style="width:20%" />
	       <col style="width:16%" />
		</colgroup>  
		
		
	    <tr>
    		<th >진행방식</th>
			<td  >
				<div data-type="mField" data-element-type="chk_d" data-node-name="divType1">
	    			<input type="checkbox" id="div11" name="divType1" value="일반">일반 
	    		</div>
			</td>
			<td  >
				<div data-type="mField" data-element-type="chk_d" data-node-name="divType1">
	    			<input type="checkbox" id="div21" name="divType1" value="긴급 ">긴급  
	    		</div>
			</td>
			<td>	
			</td>
			<td>	
			</td>
			<td>	
			</td>
			
		
	    </tr>
	    
	    <tr>
    		<th >업무분류</th>
			<td  >
				<div data-type="mField" data-element-type="chk_d" data-node-name="divType2">
	    			<input type="checkbox" id="div21" name="divType2" value="인쇄">인쇄 
	    		</div>
			</td>
			
			<td  >
			<div data-type="mField" data-element-type="chk_d" data-node-name="divType2">
	    			 
	    			<input type="checkbox" id="div22" name="divType2" value="제작">제작 
	    		</div>
			</td>
			<td  >
			<div data-type="mField" data-element-type="chk_d" data-node-name="divType2"> 
	    			<input type="checkbox" id="div23" name="divType2" value="판촉물">판촉물  
	    		</div>
			</td>
			<td  >
			<div data-type="mField" data-element-type="chk_d" data-node-name="divType2">
	    			<input type="checkbox" id="div24" name="divType2" value="소프트웨어">소프트웨어 
	    		</div>
			</td>
			<td  >
			<div data-type="mField" data-element-type="chk_d" data-node-name="divType2">
	    			
	    			<input type="checkbox" id="div25" name="divType2" value="기타(1회성구매)">기타(1회성구매) 
	    		</div>
			</td>
		
	    </tr>
	    
	     <tr>
    		<th >선정방식</th>
    		
			<td  >
			<div data-type="mField" data-element-type="chk_d" data-node-name="divType3">
	    			<input type="checkbox" id="div31" name="divType3" value="MRO">MRO 
	    		</div>
			</td>
			<td  >
			<div data-type="mField" data-element-type="chk_d" data-node-name="divType3">
	    			<input type="checkbox" id="div32" name="divType3" value="공개입찰">공개입찰 
	    		</div>
			</td>
			<td  >
			<div data-type="mField" data-element-type="chk_d" data-node-name="divType3"> 
	    			<input type="checkbox" id="div33" name="divType3" value="지명입찰">지명입찰 
	    		</div>
			</td>
			<td  >
			<div data-type="mField" data-element-type="chk_d" data-node-name="divType3">
	    			<input type="checkbox" id="div34" name="divType3" value="수의계약">수의계약  
	    		</div>
			</td>
			<td  >
			<div data-type="mField" data-element-type="chk_d" data-node-name="divType3">
	    			<input type="checkbox" id="div34" name="divType3" value="기타 ">기타  
	    		</div>
			</td>
	    </tr>
	    
		<tr>
    		<th >낙찰자 선정방식</th>
    		
			<td  >
			<div data-type="mField" data-element-type="chk_d" data-node-name="divType4">
	    			<input type="checkbox" id="div41" name="divType4" value="최저가">최저가 
	    		</div>
			</td>
			<td colspan="2" >
			<div data-type="mField" data-element-type="chk_d" data-node-name="divType4">
	    			<input type="checkbox" id="div42" name="divType4" value="적격심사 낙찰제 ">적격심사 낙찰제 
	    		</div>
			</td>
			<td  >
			<div data-type="mField" data-element-type="chk_d" data-node-name="divType4"> 
	    			<input type="checkbox" id="div43" name="divType4" value="협상에 의한 계약">협상에 의한 계약 
	    		</div>
			</td>
			<td  >
			<div data-type="mField" data-element-type="chk_d" data-node-name="divType4">
	    			<input type="checkbox" id="div44" name="divType4" value="기타">기타  
	    		</div>
			</td>
	    </tr>
	    
		
</table>

<br style=""><span style="font-size:14px"><strong>요청사항</strong></span><br style="">
<table class="tableStyle linePlus mt10"><!-- class="table_10" -->


		<colgroup>
			<col style="width:17%" />
	       <col style="width:16%" />
	       <col style="width:16%" />
	       <col style="width:16%" />
	       <col style="width:16%" />
	       <col style="width:16%" />
		</colgroup>  
		
		 <tr>
	    	<th >요청부서</th>
			<td  >
				<input type="text" id="reqDept" name="reqDept" data-type="mField" value="{{ doc.BodyContext.reqDept }}"    style="width:98%; " >
	           
			</td>
			<th >담당자</th>
			<td  >
				<input type="text" id="managerName1" name="managerName1" data-type="mField" value="{{ doc.BodyContext.managerName1 }}"    style="width:98%; " >
	           
			</td>
			<th >요청일자</th>
			<td  >
				<input type="text" data-type="mField" id="reqDate" value="{{ doc.BodyContext.reqDate }}" style="width:90%;" data-pattern="date">
			</td>
	    </tr>
	    <tr>
	   		 <th >용역명</th>
			<td  colspan="5">
				<input type="text" id="serviceName" name="serviceName" data-type="mField" value="{{ doc.BodyContext.serviceName }}"    style="width:98%; " >
	           
			</td>
	    	
		</tr>
		
		<tr>
	   		 <th >과업내용</th>
			<td  colspan="5">
				<input type="text" id="serviceDetail" name="serviceDetail" data-type="mField" value="{{ doc.BodyContext.serviceDetail }}"    style="width:98%; " >
	           
			</td>
		</tr>
		<tr>
	    	<th >사업예산</th>
			<td  colspan="2">
				<input type="text" id="budget" name="budget" data-type="mField" value="{{ doc.BodyContext.budget }}" data-pattern="numeral"   style="width:98%; " >
	           
			</td>
			<th >계약기간</th>
			<td colspan="2" >
				<input type="text" data-type="mField" id="contractDate" value="{{ doc.BodyContext.contractDate }}" style="width:90%;" >
			</td>
		</tr>
		
		<tr>
	    	<th >계정</th>
			<td  colspan="2">
				<input type="text" id="accName" name="accName" data-type="mField" value="{{ doc.BodyContext.accName }}"    style="width:98%; " >
	           
			</td>
			<th >처리 완료일<br>(예정)</th>
			<td colspan="2" >
				<input type="text" data-type="mField" id="processDate" value="{{ doc.BodyContext.processDate }}" style="width:90%;" data-pattern="date">
			</td>
		</tr>
		<tr>
			<th rowspan="2">
			유사용역 수행 실적
			</th>
			<td colspan="3">
			<input type="text" id="result1" name="result1" data-type="mField" value="{{ doc.BodyContext.result1 }}" style="width:98%; ">
			</td>
			<td colspan="2">
			<input type="text" id="result2" name="result2" data-type="mField" value="{{ doc.BodyContext.result2 }}" style="width:98%; ">
			</td>
		</tr>
		<tr>
			<td colspan="3">
			<input type="text" id="result3" name="result3" data-type="mField" value="{{ doc.BodyContext.result3 }}" style="width:98%; ">
			</td>
			<td colspan="2">
			<input type="text" id="result4" name="result4" data-type="mField" value="{{ doc.BodyContext.result4 }}" style="width:98%; ">
			</td>
		</tr>
		
</table>

<br style=""><span style="font-size:14px"><strong>검토사항</strong></span><br style="">
<table class="tableStyle linePlus mt10"><!-- class="table_10" -->
		<colgroup>
			<col style="width:17%" />
	       <col style="width:16%" />
	       <col style="width:16%" />
	       <col style="width:16%" />
	       <col style="width:16%" />
	       <col style="width:16%" />
		</colgroup>  
		
		 <tr>
	    	<th >참여업체</th>
			<td  colspan="2" >
				<input type="text" id="joinCompany" name="joinCompany" data-type="mField" value="{{ doc.BodyContext.joinCompany }}"    style="width:98%; " >
	           
			</td>
			
			<th rowspan="4">진행결과</th>
			<td rowspan="2" colspan="2" >
				<input type="text" id="progressResult1" name="progressResult1" data-type="mField" value="{{ doc.BodyContext.progressResult1 }}"    style="width:98%; " >
			</td>
	    </tr>
	    
	     <tr>
	    	<th rowspan="2">최우선 선정요소</th>
			<td rowspan="2" colspan="2" >
				<input type="text" id="bestChoice" name="bestChoice" data-type="mField" value="{{ doc.BodyContext.bestChoice }}"    style="width:98%; " >
	           
			</td>
	    </tr>
	    <tr>
	    	<td rowspan="2" colspan="2">
				<input type="text" id="progressResult2" name="progressResult2" data-type="mField" value="{{ doc.BodyContext.progressResult2 }}"    style="width:98%; " >
	           
			</td>
	    </tr>
	    <tr>
	    	<th >추진일정</th>
			<td colspan="2">
				<input type="text" id="evaluate" name="evaluate" data-type="mField" value="{{ doc.BodyContext.evaluate }}"    style="width:98%; " >
	           
			</td>
			
	    </tr>
	    
</table>


<br style=""><span style="font-size:14px"><strong>결정사항</strong></span><br style="">
<table class="tableStyle linePlus mt10"><!-- class="table_10" -->

		<colgroup>
			<col style="width:17%" />
			<col style="width:82%" />
		</colgroup>  

		<tr>
			<td colspan="2">
				<textarea id="mainComment"  rows="3" data-type="mField" style="width: 98%;height:98%;">{{ doc.BodyContext.mainComment }}</textarea>
			</td>
		</tr>
	
</table>


<br style=""><span style="font-size:14px"><strong>특이사항</strong></span><br style="">

<table class="tableStyle linePlus mt10"><!-- class="table_10" -->

		<colgroup>
			<col style="width:17%" />
			<col style="width:82%" />
		</colgroup>  

		<tr>
							<td colspan="2">
							
							
				<table class="tableStyle linePlus mt10 multi-row-table" id="tTblTop"><!-- class="table_10" -->
					<colgroup>
				        <col style="width:14%" />
						<col style="width:14%" />
						<col style="width:14%" />
						<col style="width:15%" />
						<col style="width:15%" />
						<col style="width:15%" />
						<col style="width:15%" />
				    </colgroup>
				   		 <tr class="multi-row-control" data-mode="writeOnly">
					        <td colspan="8" style="text-align: right">
					            <input type="button" id="btnAdd" value="+선순위추가" class="multi-row-add usa">
					            <input type="button" id="btnDelSel" value="-선순위삭제" class="multi-row-del-auto usa">
					            <input type="button"  value="+후순위추가" onclick="dtladdClick()" class=" usa">
					            <input type="button"   value="-후순위삭제" onclick="dtldelClick()" class="usa">
					            
					        </td>
					    </tr>
				    	<tr>
							<th colspan="2">순위</th>
							<th>업체명</th>
							<th>유선확인</th>
							<th>과업지시서<br>송부</th>
							<th>견적서 제출</th>
							<th>특이사항</th>
						</tr>
						
				 		<tr class="multi-row-template">
							<th class="multi-row-autospan">선<br>순<br>위
								
							</th>
							<th>
								<input type="text" data-type="rField" name="rankTop" style="width:99%">
							</th>
							<td>
								<input type="text" data-type="rField" name="topName" style="width:99%">
							</td>
							<td>
								<input type="text" data-type="rField" name="topConfirm" style="width:99%">
							</td>
							<td>
								<input type="text" data-type="rField" name="topTaskSend" style="width:99%">
							</td>
							<td>
								<input type="text" data-type="rField" name="topEstimate" style="width:99%">
							</td>
							<td>
								<input type="text" data-type="rField" name="topRmk" style="width:99%">
							</td>
							
					    </tr>
				</table>
				
				
				
				
				
				<table class="tableStyle linePlus  multi-row-table" id="tTblBottom"><!-- class="table_10" -->
					<colgroup>
				        <col style="width:14%" />
						<col style="width:14%" />
						<col style="width:14%" />
						<col style="width:15%" />
						<col style="width:15%" />
						<col style="width:15%" />
						<col style="width:15%" />
				    </colgroup>
				    <tr class="multi-row-control" style ="display:none">
					        <td colspan="8" style="text-align: right">
					            <input type="button" id="btnDtlAdd" value="+추가" class="multi-row-add ">
					            <input type="button" id="btnDtlDelSel" value="-삭제" class="multi-row-del-auto ">
					        </td>
				      </tr>
				    	
				 		<tr class="multi-row-template">
							<th class="multi-row-autospan">후<br>순<br>위
								
							</th>
							<th>
								<input type="text" data-type="rField" name="rankBottom" style="width:99%">
							</th>
							<td>
								<input type="text" data-type="rField" name="bottomName" style="width:99%">
							</td>
							<td>
								<input type="text" data-type="rField" name="bottomConfirm" style="width:99%">
							</td>
							<td>
								<input type="text" data-type="rField" name="bottomTaskSend" style="width:99%">
							</td>
							<td>
								<input type="text" data-type="rField" name="bottomEstimate" style="width:99%">
							</td>
							<td>
								<input type="text" data-type="rField" name="bottomRmk" style="width:99%">
							</td>
							
					    </tr>
				</table>
			
				<div>
				※선순위에서 2개 업체 이상 회신함에 따라 후순위 견적요청하지 않음
				</div>
			</td>
		</tr>
	
</table>
<br style=""><span style="font-size:14px"><strong>＃.첨부서류</strong></span><br style="">
<div>
(기결재) 구매요청서 1부<br>
1. 지명경쟁입찰 업체 선정 결과 1부<br>
2. 과업설명서<br>
3. 입찰공고메일<br>
4. 물품공급확약서 각 1부. 끝<br>
</div>



<!--실 결재양식 내용 부분 끝 -->
