<!--실 결재양식 내용 부분 시작 -->
   <table class="tableStyle linePlus mt10"><!-- class="table_10" -->
	   <colgroup>
	    	<col style="width:12%">
	    	<col style="width:23%">
	    	<col style="width:12%">
	    	<col style="width:23%">
	    	<col style="width:12%">
	    	<col style="width:*">
	    </colgroup>
	    
	    
	    <tr>
	    	<th>사업자번호
			</th>
		    <td >
		    	<input type="text" name="companyNo" data-type="mField" value="{{ doc.BodyContext.companyNo }}"   style="width:98%; " >           
		    </td>
		    <th rowspan="3">거래처연락처
			</th>
		    <td>       
				<input type="text"  name="managerName" data-type="mField" value="{{ doc.BodyContext.managerName }}"   placeholder="이름" style="width:98%; " >        
			
			</td>
		    <th >통화
			</th>
		    <td>
		    	<select name="div_money" data-type="mField" data-element-type="sel_d_v" style="width: 98%;"  value="{{ doc.BodyContext.div_money }}"  >
	    			<option value="KRW">KRW</option>
	    			<option value="USD">USD</option>
	    			<option value="JPY">JPY</option>
	    			<option value="EUR">EUR</option>
	    			<option value="CNY">CNY</option>
	    			<option value="GBP">GBP</option>
	    		</select>
		    </td>
	    </tr>
	    <tr>
	   		<th rowspan="2">거래처명
			</th>
		    <td rowspan="2">
		    	<textarea id="companyName"  rows="2" data-type="mField" style="width: 98%;" placeholder="사업자등록증 기준">{{ doc.BodyContext.companyName }}</textarea>      
		    </td>
		    <td>       
				<input type="text"  name="managerMail" data-type="mField" value="{{ doc.BodyContext.managerMail }}"   placeholder="이메일" style="width:98%; " >        
			
			</td>
			<th >세금계산서<br> 발행일
			</th>
		    <td >
		     	<input type="text" name="taxBillDate" value="{{ doc.BodyContext.taxBillDate }}"  autocomplete ="off" data-pattern="date" data-type="mField" style="width: 98%;text-align:center">
		    </td>
	    </tr>
		<tr>  
		    <td>       
				<input type="text"  name="managerTel" data-type="mField" value="{{ doc.BodyContext.managerTel }}"   placeholder="연락처" style="width:98%; " >        
			
			</td>
			<th >수행기간
			</th>
		    <td >
		     	<input type="text"  name="taskTerm" data-type="mField" value="{{ doc.BodyContext.taskTerm }}"  style="width:98%; " >        
		    </td>
	    </tr>

		
	
</table>
<div style ="text-align :center">아래와 같이 지출하고자 하오니 지출을 결의하여 주시기 바랍니다.</div>



<table class="tableStyle linePlus mt10"><!-- class="table_10" -->
	<colgroup>
	       <col style="width:12%" />
	       <col style="width:88%" />
	       
		</colgroup>  
		<tr >
		<th>제목
		</th>
			<td >
				<input type="text" id="subTitle" name="subTitle" data-type="mField" value="{{ doc.BodyContext.subTitle }}"    style="width:98%; " >    
			</td>
		</tr>
		
</table>

<table class="tableStyle linePlus mt10"><!-- class="table_10" -->
	<colgroup>
	      <col style="width:12%" />
	       <col style="width:88%" />
	       
		</colgroup>  
	<tr style="height:150px;">
	<th>내용
	</th>
		<td >
			<textarea id="comment"  rows="10" data-type="mField" style="width: 98%;height:98%;">{{ doc.BodyContext.comment }}</textarea>
		</td>
	</tr>
	
</table>

<div style ="text-align :center">구매항목이 있을 경우만 아래 기재 바랍니다.</div>

<table class="table_10 multi-row-table RowSumTable tableStyle linePlus" id="TBLINFO" style="border-left: 1px solid #c3d7df;">
    <colgroup>
   		<col style="width: 5%" data-mode="writeOnly">
		<col style="width: 5%">
		<col style="width: 12%">
		<col style="width: 20%">
		<col style="width: 20%">
        <col style="width: 23%">
        <col style="width: 15%">
    </colgroup>
    <tbody>
	    <tr class="multi-row-control" data-mode="writeOnly">
	        <td colspan="7" style="text-align: right">
	            <input type="button" id="btnAdd" value="+추가" class="multi-row-add smButton">
	            <input type="button" id="btnDelSel" value="-삭제" class="multi-row-del smButton">
	        </td>
	    </tr>
	    <tr>
	    	<th class="multi-row-selector-wrap"></th>
	        <th>No.</th>
	        <th>항목1</th>
	        <th>항목2</th>
	        <th>파이프라인</th>
	        <th>품목명</th>
	        <th>공급가액</th>
	        
	    </tr>
	    <tr class="multi-row-template multi-sum">
			<td class="multi-row-selector-wrap" style="width: 10px; text-align: center;"><input class="multi-row-selector" type="checkbox"></td>
	        <td class="multi-row-seq"></td>
	        <td>
	        	<select name="REQ_Div1" onchange="initDivSelect(this);" data-type="rField" data-element-type="sel_d_t"  style="width: 98%; text-align :center;" title="구분" >
	    			<option value="0">선택</option>
	    			<option value="1">연구재료</option>
	    			<option value="2">연구용역</option>
	    			<option value="3">생산재료</option>
	    			<option value="4">GMP(운영)</option>
	    			<option value="5">일반운영</option>
	    			<option value="6">자산</option>
	    			<option value="7">인건비</option>
	    			
	    		</select> 
	        </td>
	        <td>
	      	   
	      	  <select name="REQ_Div2" data-type="rField"onchange="initDivInput(this,2);"  data-element-type="sel_d_t"  style="width: 98%; display:none; text-align :center;" title="구분" >
	    			<option value="0">선택</option>
	    			<option value="01">Cloning</option>
	    			<option value="02">배양배지</option>
	    			<option value="03">배양배지_첨가물</option>
	    			<option value="04">바이러스_생산</option>
	    			<option value="05">바이러스_분석용</option>
	    			<option value="06">분석_kit</option>
	    			<option value="07">분석_antibody</option>
	    			<option value="08">분석_시약</option>
	    			<option value="09">소모품_disposable</option>
	    			<option value="10">소모품_초자류</option>
	    			<option value="11">소모품_기타</option>
	    			<option value="12">유지_가스</option>
	    			<option value="13">유지_질소</option>	    			
	    			<option value="14">동물</option>
	    			<option value="15">기기소모품</option>	    			
	    			<option value="16">Microcarrier</option>
	    		</select>
	    		<select name="REQ_Div3" data-type="rField"onchange="initDivInput(this,3);"  data-element-type="sel_d_t"  style="width: 98%; display:none; text-align :center;" title="구분" >
	    			<option value="0">선택</option>
	    			<option value="69">예비_효능평가</option>
	    			<option value="17">비임상_효능평가</option>
	    			<option value="18">비임상_분포시험</option>
	    			<option value="19">비임상_독성시험</option>
	    			<option value="20">비임상_종양원성시험</option>
	    			<option value="21">시료생산</option>
	    			<option value="22">제조_MCB/WCB</option>
	    			<option value="23">특성분석_MCB/WCB</option>
	    			<option value="24">특성분석_임상/비임상시료</option>
	    			<option value="25">임상_CRO</option>
	    			<option value="26">서비스_분석서비스</option>
	    			<option value="27">서비스_기타</option>

	    			  			
	    		</select>
	    		<select name="REQ_Div4" data-type="rField"onchange="initDivInput(this,4);"  data-element-type="sel_d_t"  style="width: 98%; display:none; text-align :center;" title="구분" >
	    			<option value="0">선택</option>
	    			<option value="28">배양배지</option>
	    			<option value="29">배양배지_첨가물</option>
	    			<option value="30">바이러스_분석용</option>
	    			<option value="31">소모품_disposable</option>
	    			<option value="32">소모품_초자류</option>
	    			<option value="33">소모품_기타</option>
	    			<option value="34">유지_CO2 가스</option>
	    			<option value="35">유지_LN2 가스</option>
	    			<option value="36">기기소모품</option>
	    			<option value="37">분석_배지</option>
	    			<option value="38">분석_kit</option>
	    			<option value="39">분석_antibody</option>
	    			<option value="40">분석_시약</option>
	    			<option value="41">분석_표준품</option>	    			
	    				
	    		</select>
	    		<select name="REQ_Div5" data-type="rField" onchange="initDivInput(this,5);"  data-element-type="sel_d_t"  style="width: 98%; display:none; text-align :center;" title="구분" >
	    			<option value="0">선택</option>
	    			<option value="42">소모품_기타</option>
	    			<option value="43">서비스_기타</option>
	    			<option value="44">서비스_분석서비스</option>
	    			<option value="45">서비스_의류세탁</option>
	    			<option value="46">서비스_방사선안전관리</option>
	    			<option value="47">서비스_ 훈증소독</option>	
	    			<option value="48">정기점검_설비</option>
	    			<option value="49">정기점검_장비/기구</option>
	    			<option value="50">정기점검_작업실</option>	
	    			<option value="51">CMO</option>
	    			
	    		</select>
	    		<select name="REQ_Div6" data-type="rField" onchange="initDivInput(this,6);"  data-element-type="sel_d_t"  style="width: 98%; display:none; text-align :center;" title="구분" >
	    			<option value="0">선택</option>
	    			
	    			<option value="52">재무</option>
	    			<option value="53">인사</option>
	    			<option value="54">총무</option>
	    			<option value="55">법무</option>
	    			<option value="56">특허</option>
	    			<option value="57">공통</option>	
	    			<option value="58">YSLI</option>
	    					  
	    		</select>
	    		
	    		<select name="REQ_Div7" data-type="rField" onchange="initDivInput(this,7);"  data-element-type="sel_d_t"  style="width: 98%; display:none; text-align :center;" title="구분" >
	    			<option value="0">선택</option>
	    			
	    			<option value="59">연구기기</option>
	    			<option value="60">GMP장비</option>
	    			<option value="61">비품</option>
	    			<option value="62">시설장치</option>
	    			<option value="63">소프트웨어</option>
	    			<option value="64">기타</option> 
	    		</select>
	    		<select name="REQ_Div8" data-type="rField" onchange="initDivInput(this,8);"  data-element-type="sel_d_t"  style="width: 98%; display:none; text-align :center;" title="구분" >
	    			<option value="0">선택</option>
	    			
	    			<option value="65">급여</option>
	    			<option value="66">자문</option>
	    			<option value="67">4대보험</option>
	    			<option value="68">퇴직금</option>		  
	    		</select>
	    		
	    		<input name="REQ_DivInputName" style="width: 99%; display:none; "  type="text" data-type="rField">
	        </td>
	        <td>
	        <select name="PipeLine" data-type="rField" data-element-type="sel_d_t"  style="width: 98%;  text-align :center;" title="구분" >
	    			<option value="0">선택</option>
	    			<option value="69">공용_연구개발비</option>
	    			<option value="70">BM1021</option>
	    			<option value="71">BM1022</option>
	    			<option value="72">BM1023</option>
	    			<option value="73">BM2051</option>
	    			<option value="74">BM2052</option>
	    			<option value="75">BM140-GNV</option>
	    			<option value="76">NK108</option>
	    			<option value="77">NK-Exosome</option>
	    			<option value="78">3D 공정개발-NK</option>
	    			<option value="79">3D 공정개발-MSC</option>
	    			
	    		</select>
	        </td>
	        <td><input name="REQ_ITMENAME" style="width: 99%;" type="text" data-type="rField"></td>
	        <td align="right">
	            <input name="REQ_PRICE" style="width: 99%;" onblur="COST_CAL();" type="text" data-type="rField" data-pattern=currency data-numeral-format="0,0">
	        </td>	        
	       
	    </tr>
	    <tr>
	    	<th data-mode="writeOnly"></th>
	        <th colspan="5">부가세</th>
	         <td align="right">
	            <input name="REQ_VAT" style="width: 99%;" type="text" value="{{ doc.BodyContext.REQ_VAT }}" data-type="mField" data-pattern="currency" data-numeral-format="0,0" onblur="COST_CAL();">
	        </td>
	    </tr>
	    <tr>
	    	<th data-mode="writeOnly"></th>
	        <th colspan="5">합계</th>
	        <td align="right">
	            <input name="REQ_TOTAL" style="width: 99%;" type="text" readonly="readonly" value="{{ doc.BodyContext.REQ_TOTAL }}" data-type="mField" data-pattern="currency" data-numeral-format="0,0">
	        </td>
	    </tr>
	</tbody>
</table>


<table class="tableStyle linePlus mt10"><!-- class="table_10" -->
	<colgroup>
	      <col style="width:12.5%">
	      <col style="width:12.5%">
	      <col style="width:12.5%">
	      <col style="width:12.5%">
	      <col style="width:12.5%">
	      <col style="width:12.5%">
	      <col style="width:12.5%">
	      
	       
		</colgroup>  
	<tr >
	<th>결제방법
	</th>
		<td colspan="7">
			<div data-type="mField" data-element-type="chk_d" data-node-name="divType1">
    			<input type="checkbox" id="div11" name="divType1" value="계좌이체">계좌이체
    			<input type="checkbox" id="div12" name="divType1" value="자동이체">자동이체
    			<input type="checkbox" id="div13" name="divType1" value="지로납부">지로납부
    			<input type="checkbox" id="div14" name="divType1" value="법인카드결제">법인카드결제
    			
    		</div>
		</td>
	</tr>
	
	<tr>
		<th>입금성격
		</th>
		<td colspan="4">
			<div data-type="mField" data-element-type="chk_d" data-node-name="divType5">
    			<input type="checkbox" id="div51" name="divType5" value="사후지급">계좌이체
    			<input type="checkbox" id="div52" name="divType5" value="선입금 후 계산서 발행">선입금 후 계산서 발행
    			
    		</div>
		</td>
		<th>지출 예정일
		</th>
		<td colspan="2">
			<!-- <input type="text" data-type="mField" id="reqDate" value="{{ doc.BodyContext.reqDate }}" style="width:90%;" > -->
			<span>계산서 발행 익월 말</span>
		</td>	
	</tr>
	
	<tr>
		<th>송금계좌
		</th>
		<th>은행이름
		</th>
		<td >
		<input type="text" id="bankName" name="bankName" data-type="mField" value="{{ doc.BodyContext.bankName }}"    style="width:98%; " >        
		</td>
		<th>계좌번호
		</th>
		<td >
		<input type="text" id="accountNo" name="accountNo" data-type="mField" value="{{ doc.BodyContext.accountNo }}"    style="width:98%; " >        
		</td>
		<th>예금주
		</th>
		<td colspan="2">
			<input type="text" data-type="mField" id="accMaster" name="accMaster"  value="{{ doc.BodyContext.accMaster }}" style="width:98%;" >
		</td>	     	
	</tr>
	<tr >
		<th>구분
		</th>
		<th colspan="7">첨부서류
		</th>
		</tr>
	<tr >
	<th>기본증빙서류
	</th>
		<td colspan="7">
			<!-- <div data-type="mField" data-element-type="chk_d" data-node-name="divType2">
    			<input type="checkbox" id="div21" name="divType2" value="세금계산서">세금계산서
    			<input type="checkbox" id="div22" name="divType2" value="계산서">계산서
    			<input type="checkbox" id="div23" name="divType2" value="현금영수증">현금영수증
    			<input type="checkbox" id="div24" name="divType2" value="간이영수증">간이영수증
    			<input type="checkbox" id="div25" name="divType2" value="카드영수증">카드영수증
    		</div> -->
    		<span>■세금계산서 ■계산서 ■현금영수증 ■간이영수증 ■카드영수증</span>
		</td>
	</tr>
	
	<tr >
	<th>추가증빙서류
	</th>
		<td colspan="7">
			<!-- <div data-type="mField" data-element-type="chk_d" data-node-name="divType3">
    			<input type="checkbox" id="div31" name="divType3" value="계약서(날인)">계약서(날인)&nbsp;&nbsp;&nbsp;
    			<input type="checkbox" id="div32" name="divType3" value="거래명세서">거래명세서&nbsp;&nbsp;&nbsp;
    			<input type="checkbox" id="div33" name="divType3" value="invoice">invoice&nbsp;&nbsp;&nbsp;
    			<input type="checkbox" id="div34" name="divType3" value="청구서">청구서&nbsp;&nbsp;&nbsp;
    			<input type="checkbox" id="div35" name="divType3" value="결과보고서">결과보고서&nbsp;&nbsp;&nbsp;
    			<input type="checkbox" id="div36" name="divType3" value="기타">기타
    		</div> -->
    		<span>■계약서(날인) ■거래명세서 ■invoice ■청구서 ■결과보고서 ■기타</span>
		</td>
	</tr>
	
	<tr >
	<th>최초거래서류
	</th>
		<td colspan="7">
			<!-- <div data-type="mField" data-element-type="chk_d" data-node-name="divType4">
    			<input type="checkbox" id="div41" name="divType4" value="사업자등록증">사업자등록증
    			<input type="checkbox" id="div42" name="divType4" value="통장사본">통장사본
    		</div> -->
    		<span>■사업자등록증 ■통장사본</span>
		</td>
	</tr>
	
</table>

	

<!--실 결재양식 내용 부분 끝 -->
